
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
body {
font-family: 'Pacifico', cursive;
font-family: 'Birthstone', cursive;

background-color:pink;
}


h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.header {
  border: 20px solid;
  text-align: center;
  border-radius: 5px;
  max-width: 2500px;
  max-height: 2500000px;
  padding:25px;
  margin: 100px auto 15px auto;
  background-color: rgb(188,236,224);
  color: white;
  border-color:white ;}

blockquote {
float: right;
width: 350px;
font-size: 130%;
font-family: 'Birthstone', cursive;
color: white;
margin: 0px 0px 10px 10px;
padding: 10px;
border-top: 1px solid white;
border-bottom: 1px solid white;
}

img.align-left {
float: left;
margin-right: 10px;}
img.large {
width: 500px;
height: 500px;}

.column1of3, .column2of3, .column3of3 {
width: 300px;
float: left;
margin: 10px;}

ol>div{
   line-height: 1.5em;}

li>div{
  margin: 10px 0px 0px 0px;}

  p.one {
    font-family: 'Birthstone', cursive;
    border-width: 2px;
    border-color: white;
    border-style: solid;
  }
  p.two {
    font-family: 'Birthstone', cursive;
    border-width: 2px;
    border-color: white;}
  p.three {

    font-family: 'Birthstone', cursive;
    border-width: 2px;
    border-color: white;}
  p.four {

    font-family: 'Birthstone', cursive;
    border-width: 2px;
    border-color: white;}

    .serving{

      font-family: 'Birthstone', cursive;
      font-weight:bold;}

#instructions {
  height: 10px;
  position: sticky;
  top: 0;}



.scroll{
  overflow:hidden;
  overflow-y: scroll;}
